html {
    overflow-y: scroll;
}

.gradio-container {
    max-width: 1030px !important;
    width: 1030px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.gradio-container h1 {
    text-align: center;
    padding: 1.5rem 4.5rem;
}

.gradio-container .prose>*:first-child {
    margin-top: 0.2rem;
}